.HomeView {
    .javascript-bar {
        background-color: #f0db4f;
        .ButtonCross {
            float: right;
        }
    }
    .nodejs-bar {
        background-color: #99be4f;
        color: white;
    }
    .angularjs-bar {
        background-color: #e42939;
        color: white;
    }
    .reactjs-bar {
        background-color: #222;
        color: white;
    }
    .dotnet-bar {
        background-color: white;
    }
    .hide {
        display: none;
    }

    .container{
        padding:30px;
    }

}